.Comment
  display: flex
  
  &__Avatar
    min-width: 32px
    min-height: 32px

  &__Id
    font-size: 1rem
    font-family: 'Roboto-BoldItalic'
  
  &__Text
    font-size: 1rem
    font-family: 'Roboto-Regular'
    word-break: break-word
    background: #EDEEF0
    color: black
    width: auto

.Toggler
  cursor: pointer
  height: auto
  position: relative
  left: calc( 100% - 1.5rem )
  i
    font-size: 1rem