$link_color: #FFFFFF
$link_size: 1.5rem

$navbar_background: #007ACC
$navbar_min_height: 40px

$links_container_max_width: 500px

.navbar
  background-color: $navbar_background

  min-height: $navbar_min_height
  width: 100%
  
  .links-container
    min-height: $navbar_min_height
    height: 100%
    max-width: $links_container_max_width

    padding: 5px
    margin: 0 auto

    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-items: center

    .navbar__link
      display: block
      color: $link_color
      text-decoration: none
      text-transform: lowercase
      font-size: $link_size

      i
        transition: 0.15s

      &_active i
        transform: rotate(-30deg)

      &__alt
        display: inline-block