$link_color: #FFFFFF
$link_size: 1.5rem

$navbar_background: #007ACC
$navbar_height: 50px

$links_container_max_width: 576px

.Navbar
  background-color: $navbar_background

  height: $navbar_height
  max-height: $navbar_height
  width: 100%
  
  &__LinksContainer
    height: $navbar_height
    max-height: $navbar_height
    max-width: $links_container_max_width

    padding: 5px
    margin: 0 auto

    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-items: center

  &__Link
    display: flex
    justify-content: center
    align-items: center
    color: $link_color
    text-decoration: none!important
    text-transform: lowercase
    font-size: $link_size
    height: 100%
    flex-grow: 1
    &:hover
      color: $link_color

    i
      transition: 0.15s
      font-size: 1.7rem

    &_active i
      transform: rotate(-30deg)

    &__Alt
      display: inline-block
      font-family: 'Roboto-Regular'