.CreateComment
  border: 2px solid rgba(0,122,204, 0.5 )
  transition: border 0.25s
  &:active, &:focus, &:hover
    border: 2px solid rgba(0,122,204, 1.0 )

  &:active, &:focus, &:hover>.CreateComment__SendButton
    color: rgba(0,122,204, 1.0 )

  &__SendButton
    padding: 3px
    margin: 0px
    font-size: 2.1rem
    transition: color 0.25s
    color: rgba(0,122,204, 0.7 )
    cursor: pointer
  &__TextArea
    outline: none
    box-shadow: none
    font-family: 'Roboto-Regular'
    box-sizing: border-box
    padding-right: 36px !important
    resize: none
    &:active, &:focus, &:hover
      outline: none
      box-shadow: none